#root {
  --bg-primary: #1b1b1b;
  --bg-shade-1: #121212;
  --bg-shade-2: #3b3b3b;
  --bg-shade-3: #c5c5c5;
  --bg-shade-5: red;

  --bg-accent-1: #9b5cff;
  --bg-accent-2: #ffe074;
  --bg-accent-3: #ff7a74;
  --bg-accent-4: #5ee2ff;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: solid 1px red; */
}

body {
  background-color: #1b1b1b !important;
  font-family: 'Inter', sans-serif;
  color: azure;
}

.name {
  font-weight: 400;
  color: var(--bg-accent-1);
}

.client {
  color: var(--bg-shade-3);
}

.blockquote,
.display-3,
.display-4,
.display-5 {
  color: var(--bg-shade-3) !important;
}

.aboutmecol {
  border: 1px solid transparent;
  border-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%) 1;
  border-image-slice: 1;
  box-shadow: 0 0 20px 0 rgba(0, 255, 117, 0.5), 0 0 10px 0 rgba(55, 0, 255, 0.5);
}

.aboutmecol_2 {
  border: 1px solid transparent;
  border-image: linear-gradient(163deg, var(--bg-accent-1) 0%, var(--bg-accent-4) 100%) 1;
  border-image-slice: 1;
  box-shadow: 0 0 20px 0 rgba(155, 92, 255, 0.5), 0 0 10px 0 rgba(255, 224, 116, 0.5);
}
.aboutmecol_3 {
  border: 1px solid transparent;
  border-image: linear-gradient(163deg, #ff8a00 0%, #e52e71 100%) 1;
  border-image-slice: 1;
  box-shadow: 0 0 20px 0 rgba(255, 138, 0, 0.5), 0 0 10px 0 rgba(229, 46, 113, 0.5);
}
.bg-dark{
  background-color: red !important;
}

@media (max-width: 575.98px) {

  .customs_button{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .cardContact {
    width: 100%;
    height: 100%;
  }
  .aboutmecol_2 {
    border: none;
    border-image: none;
    box-shadow: none;
  }
  .aboutmecol {
    border: none;
    border-image: none;
    box-shadow: none;
  }
}