/* .container_Col{
  /* background-color: grey ; */
  height: 80vh;
}
.greetings_container{

}
.greetings{
  font-size: 3.5rem;
  text-align: center;
}
.secondary_greetings{
  text-align: center;
}
.tertiary_greetings{
  font-size: 1rem;
  padding: 0 10rem ; */
}